body {
  font-family: Arial, sans-serif;
  background-color: #f8fafc !important;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.login-header {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #99B9EF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.logged-in,
.access-dashboard {
  text-align: center;
  margin-top: 20px;
}

.logout-link,
.dashboard-link {
  color: #99B9EF;
  text-decoration: none;
}

.logout-link:hover,
.dashboard-link:hover {
  text-decoration: underline;
}
